/*Arquivo estilo.css ----- Site da frança*/
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family:'Century';
	background-color: C1D1EA;/*Cor do fundo total*/
}
a{
	text-decoration: none; /*tira sublinhado do link*/
	color: #000;
	text-transform: uppercase; /*transforma texto do link em maiúsculo*/
}
a:hover{}

#all{
	width: 1000px;
	height:80px;
	line-height:80px; /* centraliza na vertical*/
	/* background-color: #flflfl; teste essa cor*/
	background-color: #D6E1F3; /*Cor do fundo do menu*/
	border: 3px #ccc; /*dashier serve para deixar a borda pontilhada*/
	margin: 0px auto;
}
ul.menu{
	text-align:center; /*centraliza na horizontal*/
}
ul.menu li{
	display:inline-block; /*centraliza na horizontal*/
	margin: 0px 5px;
}
ul.menu li a{
	background-color:#5C8CD5;/*Cor da caixinha do menu*/
	border-radius:6px; /*bordas arredondadas*/
	padding: 6px 10px;
	color: #fff;
}
ul.menu li a:hover{
	background-color: #8BBADC; /*teste essa cor*/
}
textarea{
	resize:none;
	
}

